img[alt]{
  border-radius: 50%;
}

[type="radio"]{
  margin: 5px;
}

[type="checkbox"]{
  margin: 10px;
}
a[href="https://www.facebook.com/TiendaGatos?mibextid=ZbWKwL"]{
  color: green;
  text-decoration: none; 
  font-size: bold; 
}